body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Style for topbar */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 1000;
}

.topbar-content {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.topbar img {
    width: 60px;
    height: 60px;
    margin: 15px 20px;
}

.topbar p {
    font-size: 30px;
    color: #07334b;
    text-align: left;
    font-weight: bold;
    margin-right: 20px;
}

a {
    color: #1F9CDA;
    text-decoration: none;
}

.topbar-left {
    display: flex;
}

.menu {
    display: flex;
    /* background-color: #f1f1f1; */
    align-items: center;
    margin-left: auto;
}

.menu>a,
.menu>.dropdown {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #07334b;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}

.menu>a:hover,
.menu>.dropdown:hover {
    background-color: #e0e0e0;
}

.flex-main {
    padding-top: 80px;
}

.main-text {
    text-align: left;
    margin: 50px 150px;
    width: 40%;
    color: #07334b;
}

.main-text h1 {
    font-size: 42px;
    font-weight: bold;
    color: #07334b;
}

.main-text p {
    font-size: 18px;
    color: #07334b;
    margin-top: 20px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.logreg-container {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

button {
    background-color: #ffffff;
    border-color: #07334b;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    width: 100px;
    padding: 10px 0;
    transition: 0.4s;
}

button:hover {
    opacity: 0.5;
}

.reg {
    color: white;
    background-color: #07334b;
}

.log {
    color: #07334b;
    background-color: white;
    border: 1px solid #07334b;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 150px;
}

.service-header {
    text-align: center;
    width: 100%;
    margin: 50px auto;
    box-sizing: border-box;
}

.service-header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #07334b;
}

.service-header p {
    text-align: center;
    font-size: 18px;
    color: #07334b;
    margin-top: 20px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

.content-service {
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 30px 30px;
    box-sizing: border-box;
}

.content-service h2 {
    font-size: 26px;
    font-weight: bold;
    color: #07334b;
}

.content-service p,
.method p {
    text-align: left;
    color: #07334b;
}

.explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.explore-temp-container {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.explore {
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #1F9CDA;
    transition: 0.4s;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 4px 4px;
}

.explore:hover {
    opacity: 0.7;
}

.svg {
    flex-shrink: 0;
}

.flex-position {
    padding-top: 80px;
    justify-content: center;
    align-items: center;
}

.flex-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.person-img {
    position: relative;
    margin: 20px;
    width: 200px;
    text-align: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

.person-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.icon-button img {
    width: 50px;
    height: 50px;
}

.person-img:hover .overlay {
    opacity: 1;
}

.linkedin-icon {
    width: 40px;
    height: 40px;
}

.person-info {
    position: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.person-info h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #07334b;
    margin-left: 10px;
}

.person-info p {
    text-align: center;
    font-size: 16px;
    color: gray;
    margin-left: 10px;
}

.method {
    width: 50%;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.method h1 {
    font-size: 30px;
    font-weight: bold;
    color: #07334b;
}


.horizontal-line {
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgray;
    height: 2px;
    margin-top: 10px;
}

.short-thick-line {
    width: 5%;
    background-color: lightgray;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

.input {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
}

.big-label {
    font-size: 20px;
    font-weight: bold;
    color: #07334b;
    margin-right: 10px;
}

.big-input {
    width: 300px;
    height: 30px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.choose-input {
    width: 300px;
    height: 30px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
}

.select-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.process-button {
    background-color: #07334b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-text p {
    font-size: 16px;
    color: #07334b;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

.goback {
    background-color: #07334b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.goback a {
    color: white;
    text-decoration: none;
}

.instructions {
    margin-top: 20px;
}

.instructions h2 {
    font-size: 24px;
    font-weight: bold;
    color: #07334b;
}

.instructions p {
    font-size: 16px;
    color: #07334b;
    margin-top: 20px;
    line-height: 1.2;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #07334b;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.dropbtn {
    font-size: 20px;
    color: #07334b;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.dropbtn:hover {
    opacity: 0.7;
}

.dropdown {
    position: relative;
}

.dropndown a {
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #07334b;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #07334b;
}

.regular-input,
.regular-select,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input::placeholder,
textarea::placeholder {
    color: #bbb;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

/* RWD part */
@media screen and (max-width: 768px) {
    .topbar-content {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .topbar img {
        margin: 10px 0;
    }

    .menu {
        width: 100%;
        justify-content: flex-start;
    }

    .menu>a,
    .menu>.dropdown {
        font-size: 18px;
        padding: 10px;
    }

    .flex-main {
        padding-top: 120px;
    }

    .main-text {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }

    .main-text h1 {
        font-size: 32px;
    }

    .main-text p {
        font-size: 16px;
    }

    .dropbtn {
        font-size: 18px;
    }

    .service-header h1 {
        font-size: 24px;
    }

    .service-header p {
        width: 90%;
        font-size: 16px;
    }

    .container {
        margin: 50px 20px;
        flex-direction: column;
    }

    .content-service {
        width: 100%;
        margin: 10px 10px;
    }

    .content-service h2 {
        font-size: 20px;
    }

    .explore-container {
        flex-direction: row;
        margin-top: 10px;
    }

    .explore {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .flex-position {
        padding-top: 120px;
    }

    .method {
        margin: 50px 20px;
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .topbar-content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .topbar p {
        font-size: 24px;
    }

    .menu>a,
    .menu>.dropdown {
        font-size: 16px;
        padding: 8px;
    }

    .flex-main {
        padding-top: 120px;
    }

    .main-text h1 {
        font-size: 28px;
    }

    .main-text p {
        font-size: 14px;
    }

    .dropbtn {
        font-size: 18px;
    }

    .service-header h1 {
        font-size: 20px;
    }

    .service-header p {
        font-size: 14px;
    }

    .content-service h2 {
        font-size: 18px;
    }

    .content-service {
        width: 100%;
    }

    .explore {
        font-size: 14px;
        margin-right: 0;
    }

    .flex-position {
        padding-top: 120px;
    }

    .method {
        margin: 50px 10px;
        width: 80%;
    }
}