<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool-Box</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for_prefixed('static', filename='css/style.css') }}">
    <script src="{{ url_for_prefixed('static', filename='js/scripts.js') }}" defer></script>
</head>

<body>
    <div class="topbar">
        <div class="topbar-content">
            <p>Tool-Box</p>
            <img src="{{ url_for_prefixed('static', filename='images/deep-learning.png') }}" width="60px" height="60px"
                alt="Log">
            <div class="menu">
                <a href="{{ url_for_prefixed('home') }}" role="button">Home</a>
                <div class="dropdown">
                    <a href="{{ url_for_prefixed('img_proc') }}" class="dropbtn" role="button">Services</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for_prefixed('img_proc') }}">Image Processor</a>
                        <a href="{{ url_for_prefixed('email_sender') }}">Auto Email Sender</a>
                    </div>
                </div>
                <a href="{{ url_for_prefixed('about') }}" role="button">About</a>
                <a href="{{ url_for_prefixed('contact') }}" role="button">Contact</a>
            </div>
        </div>
        <!-- <div class="logreg-container">
            <div>
                <button class="log">Login</button>
                <button class="reg">Sign up</button>
            </div>
        </div> -->
    </div>
    <div class="flex-position">
        <div class="service-header">
            <h1>
                We dedicate to create something useful and cool.
            </h1>
        </div>
        <div class="horizontal-line"></div>
        <div class="flex-info">
            <div class="person">
                <img src="{{ url_for_prefixed('static', filename='images/Abner.jpg') }}" alt="Developer">
                <h3>Yu-Chen Den</h3>
                <p>Full-Stack Engineer</p>
            </div>
            <div class="person">
                <img src="{{ url_for_prefixed('static', filename='images/carol.jpg') }}" alt="Project Manager">
                <h3>Yu-Lin Zheng</h3>
                <p>Project Manager</p>
            </div>
        </div>
    </div>
    <div class="short-thick-line"></div>
    <div class="bottom-text">
        <p>© 2024 Tool-Box</p>
    </div>
</body>