<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTU DAC Tool box</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/js/scripts.js" defer></script>
</head>

<body>
    <div class="goback">
        <a href="/services">Go back</a>
    </div>
    <div class="instructions">
        <h2>Welcome to the instruction of auto email sender!</h2>
        <p>Here are the steps to automatically send emails</p>
        <ul>
            <li>
                <p>Step 1: Select the event you want to send emails for</p>
            </li>
            <li>
                <p>Step 2: Upload the receivers' data in the below format (make sure they are stored in a <b>.csv</b>
                    file!):
                </p>
                <table>
                    <tr>
                        <th>email</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Interview Time</th>
                        <th>Interview link</th>
                    </tr>
                </table>
            </li>
            <li>
                <p>Step 3: Input links you want to insert in the mail content</p>
            </li>
            <li>
                <p>Step 4: Type the sender's email and password</p>
                <ul>
                    <li>
                        <a
                            href="https://shinher.gitbook.io/shinher/ru-he-shen-qing-ying-yong-cheng-shi-zhuan-yong-mi-ma">
                            How to get the password?</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>